__pycache__/
*.py[cod]
*$py.class

logs
*.log
!compose/log_server/data/udp_server.log

*~

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.pytest_cache/
assets/
report/
!compose/test/data/report

*.db
*_bak
